@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;
}

video {
    width: 100%;
    height: auto;
}

div.parent{
    height: 100vh;
    max-width: 100%;
    position: relative;
}

div.child{
    padding-top: 5vw;
    padding-bottom: 5vw;
    height: 80vh;
    width: 100vw;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
    position: absolute;
    text-align: center;
    filter: invert(1);
    mix-blend-mode: difference;
    color: rgb(66, 66, 66);
}

h1{
    font-size: 30vw;
    letter-spacing: -6vw;
}

h2{
    padding-left: 20vw;
    font-size: 5vw;
    letter-spacing: 10vw;
    transform: translateY(100%);
}

p{ 
    filter: invert(10);
    transform: translateY(-1050%);
}
