@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

video {
    width: 100%;
    height: auto;
}

.child{
    position: absolute;
    text-align: center;
    font-family: 'Syne', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(1);
    mix-blend-mode: difference;
}

body > div > div > h1.child.first{
    font-size: 5vw;
    letter-spacing: 10rem;
    padding-left: 10rem;
}

h1{
    padding-top: 25rem;
    color: rgb(73, 73, 73);
}

body > div > div > h1.child.second{
    font-size: 30vw;
    letter-spacing: -8rem;
    padding-right: 11rem;
}

div{
    height: 100%;
    width: 100%;
    position: relative;
}

